CREATE DATABASE [enchulame_db]
GO
USE [enchulame_db]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 19/6/2022 14:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [varchar](50) NOT NULL,
	[fechaReserva] [date] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[idReserva] [int] IDENTITY(1,1) NOT NULL,
	[esEstudiante] [bit] NOT NULL
) ON [PRIMARY]
GO


--Consultas para leer datos
select * from clientes
select mail from clientes group by mail